body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-template-color {
  background-color: #fff;
}

.menu-nav a:hover,.menu-nav .active{
  background-color: yellow;
  transition:all 0.3s ease;
}

.menu-nav a{
  font-weight: 500;
  height: 75px;
  padding-top: 25px !important;
  color:#000 !important;
}

.logo-style{
  left: 0;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 10;
}
.nav-bar-style{
  height:75px;
  box-shadow: 0 0.125rem 1.5rem 0 rgb(0 0 0 / 20%);
  z-index: 10;
  transition: all 0.25s ease-in-out;
}
.logo-container{
  width:100px;
  height:100px;
}

.carousel-label{
  opacity: 0.8;
  background-color: yellow;
  left: 25% !important;
  color: #000 !important;
  text-align: center;
  width:50%
}

.slider-image{
  height:88vh !important;
}