body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-template-color {
  background-color: #fff;
}

.menu-nav a:hover,.menu-nav .active{
  background-color: yellow;
  transition:all 0.8s ease;
}

.menu-nav a{
  font-weight: 500;
  height: 75px;
  padding-top: 25px !important;
  color:#000 !important;
}

.logo-style{
  width: 125px;
  margin-top: 9px;
}
.nav-bar-style{
  height:75px;
  box-shadow: 0 0.125rem 1.5rem 0 rgb(0 0 0 / 20%);
  z-index: 10;
  transition: all 0.25s ease-in-out;
}
.logo-container{
  width:100px;
  height:100px;
}

.carousel-label{
  opacity: 0.8;
  background-color: yellow;
  left: 25% !important;
  color: #000 !important;
  text-align: center;
  width:50%
}

.slider-image{
  height:88vh !important;
}

.footer-div{
  height: 50px;
  background-color: #51565b;
  padding: 15px;
}

.footer-text{
  color: #fff;
  margin-top: 0;
  text-align: left;
  font-size: 14px;
}

.body-content{
  height: 580px;
}

.footer-content{
  float:left;
}

.footer-icons{
  float:right
}

.footer-social-icons{
  color: #fff;
  font-size: 1.5em;
  margin-right: 20px;
  cursor: pointer;
}

.footer-social-icons:hover{
  color:yellow;
  transition: all 0.5s ease;
}